body { background-color: #FCEBB6;
       color: #221811;
	   font-family: Tahoma, Arial, sans-serif;
       background-image: url(fadedroad50.jpg); 
}
main {padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
       display: block;}
#wrapper { background-color: #FEFAEB;
           margin-left: auto;
           margin-right: auto;
           width: 80%;
           min-width: 900px;
           max-width: 1280px;
}   
header { background-color: #D2B48C; 
         color: #8C3826; 
		 text-align: center;
       padding-top: 5px;
       padding-bottom: 5px; 
}
h1 { font-size: 3em; }
h2 { color: #8C3826; }
h3 {color: #8C3826;}
dt {color: #8C3826}
nav { font-weight: bold; 
	  text-align: center;
         font-size: 1.5em;
         padding-top: 5px;
         padding-bottom: 5px;
}
nav a{text-decoration: none;}
footer { background-color: #D2B48C;
         font-size: .60em;
		 font-style: italic;
		 text-align: center;
}
details {padding-left: 20%;
       padding-right: 20%;}